@use "../abstract/variable" as *;

.banner {
  padding: 12rem 15vw;
  color: #fff;
  background-position: center;

  > :not(:last-child) {
    margin-bottom: $mgn-vertical-1;
  }

  &--hero {
    padding: 18rem 15vw;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/img/hero-banner.jpg);
  }

  &--dest {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/img/dest-banner.jpg);
  }

  &--privtour {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/img/privtour-banner.jpg);
  }

  &--singtour {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/img/singtour-banner.jpg);
  }

  &--tourlist {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/img/tourlist-banner.jpg);
  }
}

@media only screen and (max-width: $breakpoint-2) {
  .banner {
    padding: 8rem 7vw;
  }
}

@media only screen and (max-width: $breakpoint-3) {
  .banner {
    text-align: center;
  }
}
