@use "../abstract/variable" as *;

.banner {
  padding: 12rem 15vw;
  color: #fff;
  background-position: center;

  > * {
    margin-bottom: $mgn-vertical-1;
  }

  &--hero {
    padding: 18rem 15vw;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/img/hero-banner.jpg);
  }

  &--dest {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/img/dest-banner.jpg);
  }

  &--privtour {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/img/privtour-banner.jpg);
  }

  &--singtour {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/img/singtour-banner.jpg);
  }
}
