@use '../abstract/variable' as *;

.contentbar {
    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;

    &__content {
        padding: 3rem $padding-container-vertical;
    }

}

//MOBILE & TABLET
@media only screen and (max-width: $tablet-breakpoint-end) {
    .contentbar {
        position: initial;
        width: initial;
        height: initial;        
        &__content {
            padding: 3rem $padding-container-vertical-small;
        }
    }
}
