//BOX-SIZING
$container-side-padding-desktop: 10%;
$product-card-gutter-vertical: 3rem;
$product-card-gutter-horizontal: 1rem;
$footer-gutter: 5rem;

//COLOR
$theme-color: rgb(26, 172, 230);
$txt-col-primary: white;
$txt-col-secondary: $theme-color;

//FONT
$primary-heading: 2.5rem;
$secondary-heading: 1.6rem;
$primary-body-text: 1.3rem;
