@use '../abstract/variable' as *;
@use '../abstract/mixin' as *;

.footer {
    color: grey;
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: $black-light;
    position: relative;
    @include clearfix;

    &__contact, &__nav, &__cta {
        float: left;
    }

    &__contact {
        width: 48%;
        margin-right: 3%;
        &-info {
            list-style: none;
            li {
                text-align: left;
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
        
    }
    
    &__nav {
        width: 23%;
        margin-right: 3%;
    }
    
    &__cta {
        width: 23%;
    }

    &__title {
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
    }

    &__input {
        &--email {
            display: inline-block;
            font-family: inherit;
            color: inherit;
            background-color: $black-dark;
            width: 100%;
            padding: .5rem;
            border: none;
        }
        &--submit {
            display: inline-block;
            padding: .8rem 1rem;
            font-size: 1.3rem;
            border-radius: 3px;
            background-color: green;
            color: white;
        }
    }

    &__platforms {
        @include clearfix;
        &-icon {
            font-size: 1.2rem;
            padding: 1rem;
            background-color: $black-dark;
            float: left;
        }
    }

    &__copyright {
        text-align: center;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

//MOBILE
@media only screen and 
(min-width: 0) and 
(max-width: $mobile-breakpoint-end) {
    .footer {
        &__contact, &__nav, &__cta {
            float: none;
            width: 100%;
        }

        > *:not(:first-child) {
            margin-top: 3rem;
        }
        
        &__title {
            padding-top: 1rem;
            border-top: 1px solid black;
        }
    }
}
