@use '../abstract/variable' as *;
@use '../abstract/mixin' as *;

.header {
    &__info-box {
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: $black-dark;
        color: white;
        @include clearfix;
    }

    &__contact {
        float: right;
        &-item {
            display: inline-block;
            color: grey;
            font-size: 1rem;
            letter-spacing: 2px;
            
            &:not(:last-child) {
                &::after {
                    content: '|';
                    padding: 0 .5rem;
                }
            }
        }
    }

    .nav--secondary, .logo { 
        float: left;
    }

    .nav--primary {
        float: right;
    }
    
    &__main {
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include clearfix;
    }
}


//TABLET & MOBILE
@media only screen and 
(min-width: 0) and 
(max-width: $tablet-breakpoint-end) {

    .header {
        .nav--primary, .logo {
            float:none;
        }

        &__main {
            text-align: center;
        }
    }

}

//MOBILE
@media only screen and 
(min-width: 0) and 
(max-width: $mobile-breakpoint-end) {
    .header {
        .nav--secondary, .header__contact {
            float: none;
            text-align: center;
        }
    }
}


