@use '../abstract/variable' as *;

html {
    font-size: 62.5%;
    font-family: 'Barlow';
}

.heading--primary {
    font-size: $font-size-standard-heading;
    text-transform: uppercase;
}

.heading--secondary {
    font-size: $font-size-secondary-heading;
    text-transform: uppercase;
}

.heading--tertiary {
    font-size: $font-size-tertiary-heading;
    text-transform: uppercase;
}

p, a {
    font-size: $font-size-standard-text;
}