@use '../abstract/variable' as *;

.address {
    float: right;
    font-style: normal;
}

.address__item {
    display: inline-block;
    color: grey;
    font-size: 1rem;
    letter-spacing: 2px;
    
    &:not(:last-child) {
        &::after {
            content: '|';
            padding: 0 .5rem;
        }
    }
}