.logo {
    font-family: 'Montserrat';
    font-weight: 700;
    color: royalblue;
    font-size: 4rem;
    float: left;
    padding: 1rem;
    border-left: 5px solid orange;
    border-radius: 15px;
}

.logo__sub {
    color: orange;
    font-size: 2rem;
    letter-spacing: 6px;
}