@use '../abstract/variable' as *;


.nav {
    letter-spacing: 1px;
    
    &--primary {
        float: right;
    }

    &__item--primary {
        display: inline-block;
        padding: 1.5rem 1rem;
        color: black;
        font-size: 1.4rem;
        &:hover {
            background-color: rgba(green, .7);
            color: white;
        }
    }

    &__item--secondary {
        color: grey;
        font-size: 1rem;
        white-space: nowrap;
        &:not(:last-child)::after {
            content: '|';
            padding: 0 .5rem;
        }
    }
    
    &__item--tertiary {
        color: green;
        padding-bottom: 1.7rem;
    }
}
