@use '../abstract/variable' as *;

.header {
    color: $txt-col-primary;

    &__sub {
        padding: .5rem $container-side-padding-big;
        background-color: $theme-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.3rem;
    }

    &__contact-item {
        &:first-child {
            margin-right: 1rem;
        }
    }

    &__media {
        display: flex;
        align-items: center;
        gap: 1rem;
        
        &-item {
            width: 3rem;
            height: 3rem;
            position: relative;
            font-size: 1.8rem;
            display: inline-block;
            border: 2px solid $txt-col-primary;
            border-radius: 50%;
    
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }


    &__main {
        padding: 1.5rem $container-side-padding-big;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

//TABLETS & MOBILE 
@media only screen and (min-width: 0) and (max-width: $tablet-breakpoint-end) {
    .header {
        &__main {
            padding-top: 3rem;
            padding-bottom: 3rem;
            flex-direction: column;
            gap: 3rem;
        }
    }
}

//TABLETS
@media only screen and (min-width: $tablet-breakpoint-start) and (max-width: $tablet-breakpoint-end) {
}

//MOBILE
@media only screen and (min-width: 0) and (max-width: $mobile-breakpoint-end) {
    .header {
        display: flex;
        flex-direction: column-reverse;

        &__sub {
            display: none;
        }
    }
}