@use '../abstract/variable' as *;

.section-services {
    padding: 10rem $container-side-padding-desktop;
    background-color: rgb(231, 230, 230);
}

.services {

    &__heading {
        background-color: $theme-color;
        padding: 1rem 0;
        color: $txt-col-primary;
    }

    &__container {
        display: flex;
    }

    &__content {
        width: 75%;
        background-image: linear-gradient(to right, rgba(black, .6) 0%, rgba(black, .6) 50%, transparent 50%), url('../assets/img/product.jpg');
        background-position: top center;
        background-size: cover;
    }

    &__body-text {
        color: white;
        font-size: $primary-body-text;
        width: 50%;
        padding: 5%;
    }
}


//TABLETS & MOBILE 
@media only screen and (min-width: 0) and (max-width: $tablet-breakpoint-end) {
    .section-services {
        padding: 10rem $container-side-padding-mobile;
    }
}

//TABLETS
@media only screen and (min-width: $tablet-breakpoint-start) and (max-width: $tablet-breakpoint-end) {
    .services {
        &__content {
            width: 70%;
            background-image: linear-gradient(to right, rgba(black, .6) 0%, rgba(black, .6) 60%, transparent 60%), url('../assets/img/product.jpg');
        }

        &__body-text {
            width: 60%;
            padding: 5%;
        }
    }
}

//MOBILE
@media only screen and (min-width: 0) and (max-width: $mobile-breakpoint-end) {
    .services {
        &__content {
            width: 60%;
            background-image: linear-gradient(to right, rgba(black, .6) 0%, rgba(black, .6) 100%), url('../assets/img/product.jpg');
        }

        &__body-text {
            width: 100%;
            padding: 10%;
        }
    }
}
